#Системні файли Visual Studio
.vs/
*.user
*.suo
*.userosscache
.vscode/

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

*.mdf
*.ldf
*.ndf
*.sqlite

appsettings.Development.json
appsettings.Local.json

#QuestPDF
*.pdf

wwwroot/images/
wwwroot/uploads/
uploads/
images/

*.log
Logs/

#Міграції
!**/Migrations/